.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: apx solid transparent;
    transition: var(--transition);
}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
    border-radius: 2rem;
}
.protfolio_img{
    border-radius: 1rem;
    overflow: hidden;
    
}
.portfolio_item h3{
    margin:1.2rem  0 2rem;
    text-align: center;

}
.portfolio_cta{
    text-align: center;
}
.portfolio_cta a{
    margin-right: 1rem;
    font-size: 1rem;
    color: var(--color-white);
    transition: var(--transition);
}
.portfolio_cta a:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}

/*media queries MD*/
@media screen and (max-width:1024px) {
   .portfolio_container{
    gap: 1.2 rem;
   }
} 

/*media queries SM*/
@media screen and (max-width:600px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
       }
}

