.about_container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  
  .about_card {
    background: var(--color-bg-variant);
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1.5rem; /* Add some space between cards */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .about_card:hover {
    background: var(--color-primary-variant);
    cursor: pointer;
  }
  
  .about_icon {
    font-size: 3rem;
    color: var(--color-primary);
  }
  
  .about_card h5 {
    font-size: 1.8rem;
    margin-bottom: 1rem; /* Add some space between heading and content */
  }
  
  .about_card small {
    font-size: 1rem;
    color: var(--color-light);
    line-height: 1.6; /* Increase line height for better readability */
  }
  
  .about_content p {
    font-size: 1.1rem;
    color: var(--color-light);
    text-align: center;
    margin: 2rem 0;
  }
  
  /* Add a bit of space between sections */
  #About {
    margin-bottom: 3rem;
  }
  